.alert-primary {
  background-color: #007bff;
}

.title {
  animation: 1s slide-in;
  color: white;
  font-size: 22px;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
}

@keyframes slide-in {
  from {
    transform: translate(150px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
